##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

# Build directories
build/
bin/

##############################
## IntelliJ
##############################
out/
.idea/
.idea/*
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
!.vscode/extensions.json

##############################
## Operating System
##############################
.DS_Store

##############################
## Logs
##############################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

##############################
## Node.js
##############################
node_modules/
dist/
dist-ssr/
coverage/
*.tsbuildinfo

/cypress/videos/
/cypress/screenshots/

##############################
## Miscellaneous
##############################
*.local

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
